<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>To Do List</h1>
    <br>
    <ul>
      <% todos.forEach(function(t) { %>
          <li> 
            <%= t.todo %> - <%= t.done ? 'done' : 'not done' %> 
          </li>
        <% }); %>
      </ul>
    <hr>
    <form action="/" method="POST" autocomplete="off">
      <input type="text" name="todo" required>
      <button type="submit">ADD TO DO</button>
    </form>
  </body>
</html>
